img {
  width: 700px;
}

.lw-calendly {
  min-width: 320px;
  height: 1150px;
}

.lw-lang-select-parent {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: flex-end;

  position: relative;
}

.lw-lang-select-parent label::after {
  content: "▼";
  font-size: 1rem;
  position: absolute;
  top: 36px;
  right: 10px;
}

.lw-lang-select-parent label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 150px;

  font-family: proxima nova, sans-serif;
}

.lw-lang-select-parent label select {
  width: auto;

  font-family: proxima nova, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  padding: 12px;
  background-color: #EEF5FF;
  color: #0060E6;
  border: none;

  /* Remove existing chevron */
  -webkit-appearance: none;
  appearance: none;
}

.lw-lang-select-parent label select:hover {
  background-color: #EEF5FF;
}

.hidden {
  display: none;
}